#clipboard {
	position: absolute;
	width: 2048px;
	height: 1365.3px;
}

#clipboard > img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 2048px;
}

#boardImage {
	height: 1365.3px;
}

#clipImage {
	z-index: 4;
	height: 338.56px;
}

.clipButtonFade {
	position: absolute;
	z-index: 5;
	background-color: #34586d;
	opacity: 0.5;
	-ms-filter: "progid:DBImageTransform.Microsoft.Alpha(opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

#clipSoundOff {
	position: absolute;
	z-index: 5;
}

.page {
	position: absolute;
	left: 450px;
	top: 273px;
	width: 1022px;
	height: 764px;
	border: 8px solid black;
	border-radius: 30px;
	font-size: 56px;
	padding: 100px 56px 12px 56px;
	background-color: #f5f3db;
	opacity: 1;
	overflow: hidden;
}

/* CSS for title page */

#clipTitle {
	font-size: 1.8em;
	margin: 0 auto;
	padding: 0.3em 0 0.3em 0;
	text-align: center;
}

.clipCandyLeft {
	height: 1em;
	float: left;
}

.clipCandyRight {
	height: 1em;
	float: right;
}

/* CSS for within each page of table of contents */

.tocRow {
	position: relative;
	cursor: pointer;
	color: #A30000;
}

.tocRow a {
	text-decoration: none;
	color: inherit;
}

.tocNumber {
	text-align: right;
	padding-right: 1ex;
}

.tocComplete {
	width: 1em;
}

.tocComplete img {
	height: 1em;
}

/* CSS for within page for each level */

.levTitle {
	padding-bottom: 1em;
	font-weight: bold;
}

.levOrder {
	padding-bottom: 1em;
}

.levHint {
	padding-bottom: 2em;
	color: #32c;
}

.levComplete {
	font-weight: bold;
	color: #2a2;
}

.levComplete img {
	height: 1em;
}

/* CSS for credits page */

.creditsPage {
	overflow: hidden;
	text-align: center;
}

#creditsTitle {
	font-size: 1.8em;
	margin: 0 auto;
	padding: 0.3em 0 0.3em 0;
}

.creditsDiv {
	text-align: center;
	position: absolute;
	white-space: nowrap;
	width: 100%;
}

#creditsCandyLeft {
	height: 1em;
	float: left;
}

#creditsCandyRight {
	height: 1em;
	float: right;
}

#creditsHlogo {
	height: 3em;
}

.creditsTable {
	margin: auto;
}

.creditsTable th {
	font-size: 1.5em;
	text-align: center;
	font-weight: normal;
}

.creditsTable td {
	font-size: 1em;
	text-align: center;
}
