#clipboard {
	position: absolute;
	width: 2048px;
	height: 1365.3px;
}

#clipboard > img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 2048px;
}

#boardImage {
	height: 1365.3px;
}

#clipImage {
	z-index: 4;
	height: 338.56px;
}

.page {
	position: absolute;
	left: 450px;
	top: 273px;
	width: 1022px;
	height: 764px;
	border: 8px solid black;
	border-radius: 30px;
	font-size: 56px;
	padding: 100px 56px 12px 56px;
	background-color: #f5f3db;
	opacity: 1;
	overflow: hidden;
}


#check{ position: relative; height: 1em; width: 1em;}

.tocRow {
	position: relative;
	cursor: pointer;
	color: #A30000;
}

.tocRow a {
	text-decoration: none;
	color: inherit;
}

.tocNumber {
	text-align: right;
	padding-right: 1ex;
}

.levelname {
	padding-bottom: 1em;
	font-weight: bold;
}
.order {
	padding-bottom: 1em;
}
.hintText {
	padding-bottom: 2em;
	color: blue;
}
.complete {
	font-weight: bold;
	color: green;
}

