#factoryParent {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#factory {
	position: relative;
	width: 2048px;
	height: 1365.33px;
}

#factory > img {
	position: absolute;
}

#floorbase {
	z-index: 0;
}

#punchglove {
	z-index: 1
}

#candies {
	z-index: 1;
}

#candies > img {
	position: absolute;
}

#punchbox {
	z-index: 2;
}

#producer {
	z-index: 2;
}

#light1 {
	z-index: 3;
}

#tally {
	position: absolute;
	z-index: 2;
	bottom: 50px;
	left: 50px;
}

#tally td {
	vertical-align: middle;
	text-align: center;
	font-size: 48px;
	color: #EAE242;
	height: 84px;
}

#tally td.tallyHead {
	padding-right: 0.5em;
}

#tally img {
	width: 80px;
	height: 80px;
}

#success{
	position:absolute;
	color:green;
	left: 10%;
	top:80%
}

#failure{
	position:absolute;
	color:red;
	left: 10%;
	top:80%
}

