html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: #333 url(../resource/floor/floor-tile.png);
	background-size: 20px 20px;
}

#translations {
	display: none;
}

#main_container {
	position: relative;
}

.welcolor{
    height: 2em;
    width: 2em;
    
}

#factoryParent{
    z-index: 10;
}

#circuit{
    z-index: 11;
}

#clipboard{
    z-index: 12;
}

#cliptip{
    z-index: 100;
}

#container{
    z-index: 13;
}
