html, body { background: #EDE275; width: 100%; height: 100%; margin: 0px; padding-right: 0px; overflow: hidden;}
#check{ position: relative; height: 1em; width: 1em;}

#clipboard{ position: absolute;}
#clipOrder{position: relative; top: -430px; right: -40px; overflow: hidden; max-height: 365px; max-width: 325px; min-height: 365px; height: auto !important;}
#prev, #next { position: relative; height: 1em; width: 5em; top: -430px; right: -70px; cursor: pointer;}
#hint{margin-left: auto; position: relative; top: -430px; right: -70px; cursor: pointer; }
#showLevels{margin-left: auto; position:relative; top: -430px; right: -70px; cursor: pointer;}
#cliptip{ position: absolute; width: 408px; cursor: pointer; }
#hintText{position: relative; height: 100px; margin-left: auto; top: -500px; max-width: 325px;}
.page {	position: absolute;	background-color: #f5f3db; opacity: 1;border: solid 1px gray;overflow: hidden; max-height: 365px; max-width: 325px; min-height: 365px; height: auto !important}
#clip{height: 598px; width: 408px;}
#credits{cursor: pointer; color: blue; text-decoration: underline; }

/*#clipboard{ position: absolute;}
#clipOrder{position: absolute; overflow: hidden; border: solid 2px black; }
#clipButtons{position: absolute;}
#prev, #next { position: relative; cursor: pointer; height: 1em; width: 4em;}
#hint{position: relative; cursor: pointer; }
#showLevels{position:relative; cursor: pointer;}
.page {	position: absolute;	background-color: white; opacity: 1;overflow: hidden; border: solid 1px gray;}*/

.rows { position: relative; cursor: pointer; color: #A30000; font-size: 22px;}
.levelname{padding-bottom: 2em;font-weight:bold;}
.order{padding-bottom: 2em; font-weight:bold;}
.hintText{padding-bottom: 2em; font-weight:bold; color: green;}
#shapes{position: relative; margin-left: 30%;}
#flavors{position: relative; margin-left: 20%;}

