html, body { background-color: #EDE275; width: 100%; height: 100%; margin: 0; overflow: hidden;}

#title { color: #A30000; text-align: center;  }

#levelSelect1 { cursor: pointer; position: relative; color: #A30000; margin-left: 40%; margin-right: auto; font-size: 30px; }
#levelSelect2 { cursor: pointer; position: relative; color: #A30000; margin-left: 65%; margin-right: auto; font-size: 30px; }
#levelSelect3 { cursor: pointer; position: relative; color: #A30000; margin-left: 90%; margin-right: auto; font-size: 30px; }

#testLevel {  position: relative; color: #A30000; margin-left: 30%; margin-right: auto; margin-top: 10%; font-size: 30px; }

#arrow1, #arrow2, #arrow3   { cursor: pointer; text-align: center;}

img { position: relative; height: 2em; width: 5em;}
#check{ position: relative; height: 1em; width: 1em;}

#refresh { cursor: pointer; position: relative;  color: #A30000; text-align: center; font-size: 15px; }
#change {cursor: pointer; position: relative; color: #A30000; text-align: center; font-size: 15px; }
