html, body { background: #EDE275; width: 100%; height: 100%; margin: 0px; padding-right: 0px; overflow: hidden;}
#check{ position: relative; height: 1em; width: 1em;}

#clipboard{ position: absolute;}
#clipOrder{position: relative; top: -455px; right: -70px; overflow: hidden; max-height: 365px; max-width: 325px; min-height: 365px; height: auto !important;}
#next { position: relative; height: 1em; width: 5em; top: -450px; right: -105px; cursor: pointer;}
#prev { position: relative; height: 1em; width: 5em; top: -450px; right: -105px; cursor: pointer;}
#hint{margin-left: auto; position: relative; top: -456px; right: -105px; cursor: pointer; }
#showLevels{margin-left: auto; position:relative; top: -456px; right: -105px; cursor: pointer;}
#cliptip{ position: absolute; width: 408px; cursor: pointer; }
#hintText{position: relative; height: 100px; margin-left: auto; top: -500px; max-width: 325px;}
#clip{height: 598px; width: 478px;}
#credits{cursor: pointer; color: blue; text-decoration: underline; }
#shapes{position: relative; margin-left: 30%;}
#flavors{position: relative; margin-left: 20%;}
#hlogo{position: relative; padding-top: 1em;}
#return{width: 60px;}


.page {	position: absolute;	background-color: #f5f3db; opacity: 1;overflow: hidden; max-height: 365px; max-width: 325px; min-height: 365px; height: auto !important}
.rows { position: relative; cursor: pointer; color: #A30000; font-size: 22px;}
.levelname{padding-bottom: 2em;font-weight:bold;}
.order{padding-bottom: 2em; font-weight:bold;}
.hintText{padding-bottom: 2em; font-weight:bold; color: blue;}
.complete{font-weight: bold; color: green;}

