html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
	background: #141;
}

#main_container {
	position: relative;
	background: white;
	border-style: solid;
	border-color: #282;
}

div#circuit {
	width: 100%;
	height: 100%;
}

div#translations {
	display: none;
}
