@font-face {
	font-family: 'Pfennig';
	src: url('font/Pfennig.ttf');
}

html, body {
	font-family: 'Pfennig', 'Lucida Sans Unicode', 'Arial', sans-serif;
	height: 100%;
	margin: 0;
	font-size: 120%;
}

#clipboard {
	position: relative;
	margin: 100px;
	border: solid 2px black;
	height: 100%;
	overflow: hidden;
}

.page {
	position: absolute;
	background-color: white;
	opacity: 1;
	padding: 50px;
	border-bottom: solid 4px gray;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
